/* Genel stiller */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header stillemeleri */
header {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    order: -1;
}

.logo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

/* Navigation stillemeleri */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease-in-out;
}

/* Haberler stillemeleri */
.haberler {
  background-color: #333;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.haberler h2,
.yeni-makale h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #eee;
}

.haberler p,
.yeni-makale p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ccc;
}

.haberler img,
.haberler video,
.yeni-makale img,
.yeni-makale video {
  display: block;
  margin: 0 auto; /* Center horizontally */
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}




iframe {
    overflow: hidden;
}

img {
  max-width: 100%;
  max-height: auto;
  }
  
/* Mobil cihazlar için */
@media (max-width: 767px) {
  .logo {
    font-size: 20px;
  }
  
  nav a {
    padding: 6px;
    font-size: 14px;
  }
}




